extends header

block content
  .article-container
    .row
      .col-md-9.col-lg-7!= post
        .social
          p
            a.twitter-share-button(href="https://twitter.com/intent/tweet?text=Great project!&url=http://navarjun.com/d/"+params._id+"&via=Navarjun"
              data-size="small") Tweet
          p
            .fb-like(data-href=""+url
              data-layout="standard"
              data-action="like"
              data-share="true"
              data-show-faces="false"
              data-colorscheme="light")
