extends header

block content
  .container.portfolio-container
    each project,index in projects
      .row
        if index%2 == 0
          .card  
            .portfolio-image
              a(href="/design/"+project.urlId)
                img(src=""+project.imageFile)
            .portfolio-brief
              h3
                a(href="/design/"+project.urlId)= project.title
              p= project.description
        else
          .card 
            .portfolio-brief
              h3
                a(href="/design/"+project.urlId)= project.title
              p= project.description
            .portfolio-image
              a(href="/design/"+project.urlId)
                img(src=""+project.imageFile)
      
    .row
      .portfolio-container
        if notice
          h4= notice
        if totalPages > 1
          .paging-container
            .previous
              if prevPage
                a(href="/?page="+prevPage) Previous
            .current
              span #{currPage}/#{totalPages}
            .next
              if nextPage
                a(href="/?page="+nextPage) Next
    
