extends header

block content
    .row
      .article-container!= post
        .social
          p
            a.twitter-share-button(href="https://twitter.com/intent/tweet?text=Great thoughts!&url="+url+"&via=Navarjun"
              data-size="small") Tweet
          p
            .fb-like(data-href=""+url
              data-layout="standard"
              data-action="like"
              data-share="true"
              data-show-faces="false"
              data-colorscheme="light")
